h1.Text-principal {
    text-align: center;
    padding-bottom: 90px;
    bottom: -35px;
    position: relative;
}


ul[_ngcontent-bfi-c1] {
    list-style-type: none;
    margin: 0;
    position: fixed;
    padding: 0;
    height: 4.5%;
    overflow: hidden;
    background-color: #213E8D;
}

button.btn.btn-danger {
    background-color: #213e8d;
}

h2.text-center {
    text-align: center;
}

.col-md-6 {
    width: 90%;
    position: relative;
    left: 90px;
}