<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Hospitalapp</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
</head>
<body>

	<h1 class ="Text-principal">Cadastre um paciente</h1>
		<form class= "container" method = "post">	
			<h3 class = "Principal-text">Nome</h3><input type = "text" value="" name="name"/>
				<div class="row">
					<div class = "input-field col s6">
						<h3 class = "Principal-text">Idade</h3><input type = "number" value="" name="age"/>
					</div>
					<div class = "input-field col s3">
						<h3 class = "Principal-text">Temperatura</h3><input type = "number" value="" name="temperature"/>
					</div>
					<div class = "input-field col s3">
						<h3 class = "Principal-text">Glicose</h3><input type = "number" value="" name="glicose"/>
					</div>
		<button type = "submit" class="waves-effect waves-light btn">Salvar</button>
		<a href="/" class="waves-effect waves-light btn">Voltar</a>	
	</form>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>