<ul>
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['/Medico']">Inserir um paciente</a></li>        
    <li><a [routerLink]="['/cadastro-pessoa']">Atender um paciente</a></li>        
    <li><a [routerLink]="['/cadastro-pessoa']">Liberar um Médico</a></li>
    <li><a [routerLink]="['/listarMedico']">Mostrar medicos liberados</a></li> 
    <li><a [routerLink]="['/cadastro-pessoa']">Visualizar paciente com glicose +100</a></li> 
    <li><a [routerLink]="['/Medico']">Inserir Médico</a></li> 
    <li><a [routerLink]="['/cadastro-pessoa']">Remover Médico</a></li>               
</ul>